.black-bg{
    background: black;
}
.h50{height: 50px;}

.action-container{
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    padding-top: 30%;
    font-family: sans-serif;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    transition: all 0.3s;
}
.action-container:active{
    font-size: 40px;
}
.js-toggleLight{
    background-color: #ffcd3c;
    color: white;
}
.js-toggleWater{
    background-color: #35d0ba;
    color: white;
}
.main{
    display: flex;
}
body{
    margin: 0;
}